h2 Hello #{username}

if type == 'newOrgUser'
    p Welcome to Comunion!  Congratulations, you have successfully completed the organization registration! The initial password is: #[b #{psd}]. You can use your email and initial password to login, and manage your organization, you also can reset your login password.
else if type == 'oldOrgUser'
    p Welcome to Comunion!  Congratulations, you have successfully add to the organization #[b #{orgName}]!
else if type == 'newUser'
    p You are registering at Comunion. Your verification code is #[b #{psd}]. The verification code is valid within 30 minutes.
else if type == 'resetPsd'
    p You are resetting your password. Your verification code is #{psd}. The verification code is valid within 30 minutes.

p Comunion is a decentralized autonomous organization collaboration network, helps companies, organizations and individuals all around the world to create, manage and operate their own decentralized autonomous organization (The DAO).

p If you want to know more or join us, please contact us. Or follow our social accounts.

ul
    li Website：https://comunion.io
    li Twitter：https://twitter.com/comunion8
    li Medium：https://medium.com/@bigdaoio
    li GitHub：https://github.com/comunion-io
    li BBS：https://bbs.comunion.io/
    li Email：contactus.comnuion@gmail.com